<% if logged_in? %>
    <div>
     <%= render 'schools/schools', schools: @schools %>
    </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the English world</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>