<% if schools.any? %>
  <div class="row media-list">
      <% schools.each do |school| %>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="media">
    <%# ボックス横に三つ？ %>
              <div class="panel panel-default">
  
                <div class="media-body">
                  <div>
                    <%= school.name %>
                  </div>
                  <div>
                    <%= school.explanation %>
                  <div>
                    <p><%= link_to 'Check school', school_path(school) %></p>
                  </div>
                </div>
              </div>
            </div>  
         </div>
       </div>
    <% end %>
  </div>
  <%= paginate schools %>
<% end %>
