  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the School all pages</h1>
    </div>
  </div>
<div>
 <%#= @schools %>   
    <div>
     <%= render 'schools', schools: @schools %>
    </div>

<div>
  <%= link_to '新規コース作成', new_school_path(@school) %>
</div>