<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @course.name %></h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">coureA</a></li>
      <li><a href="#">couseB</a></li>
    </ul>
  </div>
</div>

<%= @comments.inspect %>